<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta name="description" content="A list of projects linked with the Ensembl projects">
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <main>
      {{ content | safe }}
    </main>
  </body>
</html>
